*.cursorColor:          #d1d4e0
*.scrollColor:	        #d1d4e0	
*.highlightColor:	    #252936
*.highlightTextColor:	#C0C5CE

/*.background:   #101218
*.foreground:   #d1d4e0
*.color0:	    #101218
*.color1:    	#ee829f
*.color2:       #a5ffe1
*.color3:       #ffefcc
*.color4:		#97bbf7
*.color5:		#c0b7f9
*.color6:		#97e0ff
*.color7:		#d1d4e0
*.color8:		#7789a1
*.color9:		#ee829f
*.color10:		#a5ffe1
*.color11:		#ffefcc
*.color12:		#97bbf7
*.color13:		#c0b7f9
*.color14:		#97e0ff
*.color15:		#ffffff

*.color16:		#f99170
*.color17:		#fcc09e
*.color18:		#1f222d
*.color19:		#252936
*.color20:		#C0C5CE
*.color21:		#C9CCDB*/

*.background:   #282828
*.foreground:   #ebdbb2
*.color0:       #282828 
*.color1:       #cc241d
*.color2:       #98971a
*.color3:       #d79921
*.color4:       #458588
*.color5:       #b16286
*.color6:       #689d6a
*.color7:       #a89984
*.color8:       #928374
*.color9:       #fb4934
*.color10:      #b8bb26
*.color11:      #fabd2f
*.color12:      #83a598
*.color13:      #d3869b
*.color14:      #8ec07c
*.color15:      #ebdbb2
